TZ=Europe/Berlin
# App
APP_ENV=prod

# MySQL configuration
MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_ROOT_PASSWORD=root_password
MYSQL_DATABASE=rueckstand
MYSQL_USER=rueckstand
MYSQL_PASSWORD=rueckstand_password

# Postgres configuration
POSTGRES_HOST=postgres.example.com
POSTGRES_PORT=5432
POSTGRES_DB=pgdatabase
POSTGRES_USER=pguser
POSTGRES_PASSWORD=pgpassword
